// Reset Buefy and Bulma
.button {
  padding: 0;
  border: none;
}

// Text Styles
.t-h1 {
  font-weight: 300;
  font-size: 96px;
  line-height: 112px;
  letter-spacing: -1.5px;
}
.t-h2 {
  font-weight: 300;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.5px;
}
.t-h3 {
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
}
.t-h4 {
  font-weight: normal;
  font-size: 34px;
  line-height: 36px;
}
.t-h5 {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.18px;
}
.t-h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
}
.t-subtitle1 {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}
.t-subtitle2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
}
.t-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

// OwnPlate Colors
$colors: (
  ownplate-yellow: #fbc02d,
  ownplate-gray: #616161,
  ownplate-white: #ffffff,
  ownplate-black: #000000,
  background: #faf9f9,
  surface: #ffffff,
  sattle-white: rgba(255, 255, 255, 0.1),
  sattle-black: rgba(0, 0, 0, 0.1),
  dialog-overlay: rgba(0, 0, 0, 0.5),
  primary: #0097a7,
  primary-bg: rgba(0, 151, 167, 0.1),
  onprimary: #ffffff,
  text-black-full: #000000,
  text-black-high: rgba(0, 0, 0, 0.87),
  text-black-medium: rgba(0, 0, 0, 0.6),
  text-black-disabled: rgba(0, 0, 0, 0.38),
  text-white-full: #ffffff,
  text-white-high: rgba(255, 255, 255, 0.87),
  text-white-medium: rgba(255, 255, 255, 0.6),
  text-white-disable: rgba(255, 255, 255, 0.38),
  form: rgba(0, 0, 0, 0.05),
  status-red: #b00020,
  status-red-bg: rgba(176, 0, 32, 0.1),
  status-amber: #f57c00,
  status-amber-bg: rgba(245, 124, 0, 0.1),
  status-green: #689f38,
  status-green-bg: rgba(104, 159, 56, 0.1),
  status-blue: #0288d1,
  status-blue-bg: rgba(2, 136, 209, 0.1),
  status-purple: #4a148c,
  status-purple-bg: rgba(74, 20, 140, 0.1),
);

// Text and Background Colors
@each $name, $value in $colors {
  // Text Colors
  .c-#{$name} {
    color: $value;
  }
  // Background Colors
  .bg-#{$name} {
    background-color: $value;
  }
}

// Drop Shadow Styles
.d-medium {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
.d-low {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

// Border Styles
.border-primary {
  border: 2px solid map-get($colors, primary);
  box-sizing: border-box;
}

// OwnPlate Sizes
$sizes: (0, 4, 8, 16, 18, 24, 32, 36, 48, 64, 128, 192, 256);

// Margin and Padding Sizes
$sides: (top, bottom, left, right);
@each $space-size in $sizes {
  @each $side in $sides {
    // Margin Sizes
    .m-#{str-slice($side, 0, 1)}-#{$space-size} {
      margin-#{$side}: #{$space-size}px;
    }
    // Padding Sizes
    .p-#{str-slice($side, 0, 1)}-#{$space-size} {
      padding-#{$side}: #{$space-size}px;
    }
  }
}

// Width and Height Sizes
@each $dimension-size in $sizes {
  // Width Sizes
  .w-#{$dimension-size} {
    width: #{$dimension-size}px;
  }
  // Height Sizes
  .h-#{$dimension-size} {
    height: #{$dimension-size}px;
  }
}

// Rounded Corners Sizes
@each $corner-size in $sizes {
  .r-#{$corner-size} {
    border-radius: #{$corner-size}px;
  }
}

// Icon Sizes
@each $icon-size in $sizes {
  .material-icons.md-#{$icon-size} {
    font-size: #{$icon-size}px;
  }
}

// Status
.status {
  display: inline-block;
}
